{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<form>
    <fieldset class="form-group">
        {{ form|crispy }}
    </fieldset>
    <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Поиск</button>
        {% if form.query.value or form.start.value or form.end.value %}<a class="btn btn-info" href="{% url 'contracts:contract-list' %}" role="button">Сброс</a>{% endif %}
    </div>
</form>
{% if user.is_superuser %}
    <a class="btn btn-info mt-5" href="{% url 'contracts:contract-add' %}" role="button">Новый контракт</a>
{% endif %}

<table class="table mt-3">
    <thead>
      <tr>
        <th scope="col">Номер контракта</th>
        <th scope="col">Наименование</th>
        <th scope="col">Статус</th>
        <th scope="col">Предприятие</th>
        <th scope="col">Начало</th>
        <th scope="col">Окончание</th>
        <th scope="col">Создан</th>
      </tr>
    </thead>
    <tbody>
        {% for contract in contracts %}
          <tr>
            <th scope="row">{{contract.number}}</th>
            <td>{{contract.object}}</td>
            <td>{{contract.get_state_display}}</td>
            <td>{{contract.company}}</td>
            <td>{{contract.start}}</td>
            <td>{% if contract.end %}{{contract.end}}{% else %}{% endif %}</td>
            <td>{{contract.creator}}</td>
          </tr>
        {% endfor %}
    </tbody>
  </table>

{% endblock content %} 