{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<div class="row mb-5">
  <div class="col-5">
    <div class="card">
        <div class="card-header d-flex justify-content-between">
          <span>Номер</span>
          {% if contract.gip == request.user %}<a href="{% url 'contracts:contract-update' contract.id %}" class="btn btn-warning btn-sm active" role="button" aria-pressed="true">Редактировать</a>{% endif %}
          <span>{{contract.number}}</span>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item d-flex justify-content-between"><span>Наименование объекта</span><span>{{contract.object}}</span></li>
          <li class="list-group-item d-flex justify-content-between"><span>Статус</span><span>{{contract.get_state_display}}</span></li>
          <li class="list-group-item d-flex justify-content-between"><span>Предприятие</span><span>{{contract.company}}</span></li>
          <li class="list-group-item d-flex justify-content-between"><span>Город</span><span>{{contract.town}}</span></li>
          <li class="list-group-item d-flex justify-content-between"><span>Описание работ</span><span>{{contract.description}}</span></li>
          <li class="list-group-item d-flex justify-content-between"><span>Дата начала работ</span><span>{{contract.start}}</span></li>
          <li class="list-group-item d-flex justify-content-between"><span>Плановая дата окончания работ</span><span>{% if contract.end %}{{contract.end}}{% endif %}</span></li>
          <li class="list-group-item d-flex justify-content-between"><span>Создатель</span><span>{{contract.creator}}</span></li>
          <li class="list-group-item d-flex justify-content-between"><span>Руководитель</span><span>{{contract.gip}}</span></li>
        </ul>
      </div>
      <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">Название каталога</th>
            <th scope="col">Добавление</th>
            <th scope="col">Удаление</th>
          </tr>
        </thead>
        <tbody>
          {% if contract.ada %}
            <tr>
              <th scope="row">
                  Ada
              </th>
              <td>
                {% for u in user_folders %}
                  {% if u.ada %}
                    {{u.user}}{% if not forloop.last %}; {% endif %}
                  {% endif %}
                  
                {% endfor %}
              </td>
              <td></td>
            </tr>
          {% endif %}
          {% if contract.mpe %}
            <tr>
              <th scope="row">
                  Mpe
              </th>
              <td>
                {% for u in user_folders %}
                  {% if u.mpe %}
                    {{u.user}}{% if not forloop.last %}; {% endif %}
                  {% endif %}
                {% endfor %}
            </td>
              <td></td>
            </tr>
          {% endif %}
          {% if contract.mpm %}
            <tr>
              <th scope="row">
                  Mpm
              </th>
              <td>
                {% for u in user_folders %}
                  {% if u.mpm %}
                    {{u.user}}{% if not forloop.last %}; {% endif %}
                  {% endif %}
                {% endfor %}
            </td>
            <td></td>
            </tr>
          {% endif %}
        </tbody>
      </table>


      <table class="table mt-5">
        <thead>
          <tr>
            <th scope="col">Пользователь</th>
            <th scope="col">Новая дата</th>
            <th scope="col">Дата изменения</th>
          </tr>
        </thead>
        <tbody>
          {% for c in end_date_edits %}
          <tr>
            <th scope="row">
                {{c.user}}
            </th>
            <td>{{c.new_date }}</td>
            <td>{{c.created }}</td>
          </tr>
        {% endfor %}
      </tbody>
      </table>
  </div>
  <div class="col-7">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Пользователь</th>
            {% if contract.ada %}<th scope="col">Ada</th>{% endif %}
            {% if contract.mpe %}<th scope="col">Mpe</th>{% endif %}
            {% if contract.mpm %}<th scope="col">Mpm</th>{% endif %}
          </tr>
        </thead>
        <tbody>
            {% for user in user_folders %}
              <tr>
                <th scope="row">
                    {{user.user}}
                </th>
                {% if contract.ada %}<td>{% if user.ada %}+{% else %}-{% endif %}</td>{% endif %}
                {% if contract.mpe %}<td>{% if user.mpe %}+{% else %}-{% endif %}</td>{% endif %}
                {% if contract.mpm %}<td>{% if user.mpm %}+{% else %}-{% endif %}</td>{% endif %}
              </tr>
            {% endfor %}
        </tbody>
    </table>
    {% if user.is_authenticated %}
        {% if user == contract.gip %}
            <a class="btn btn-info" href="{% url 'contracts:permission-request-add' contract.id %}" role="button">Новая заявка</a>
        {%endif%}
        {% if user == contract.gip or user.it_staff %}
          {% if permission_requests %}
            <table class="table mt-3">
              <thead>
                <tr>
                  <th scope="col">Пользователь</th>
                  {% if contract.ada %}<th scope="col">Ada</th>{% endif %}
                  {% if contract.mpe %}<th scope="col">Mpe</th>{% endif %}
                  {% if contract.mpm %}<th scope="col">Mpm</th>{% endif %}
                  <th scope="col">Создатель</th>
                  <th scope="col">Создано</th>
                  <th scope="col">Исполнено</th>
                </tr>
              </thead>
              <tbody>
                  {% for r in permission_requests %}
                    <tr>
                      <th scope="row">
                          {{r.user}}
                      </th>
                      {% if contract.ada %}<td>{% if r.ada %}+{% else %}-{% endif %}</td>{% endif %}
                      {% if contract.mpe %}<td>{% if r.mpe %}+{% else %}-{% endif %}</td>{% endif %}
                      {% if contract.mpm %}<td>{% if r.mpm %}+{% else %}-{% endif %}</td>{% endif %}
                      <td>{{r.creator}}</td>
                      <td>{{r.created}}</td>
                      <td>
                        {% if r.done %}{{r.done}}
                        {% else %}
                          {% if user.it_staff %}
                          <form method="POST" action="{% url 'contracts:permission-request-done' r.id %}">
                                {% csrf_token %}
                                <div class="form-group">
                                    <button class="btn btn-outline-info" type="submit">Исполнить</button>
                                </div>
                            </form>
                          {% endif %}
                        
                        {% endif %}
                        
                    </tr>
                  {% endfor %}
              </tbody>
            </table>
          {% endif %}
        {% endif %}
    {% endif %}
  </div>
</div>

{% endblock content %} 