{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<div class="row">
  <div class="col-10 offset-1 mt-5">
      <h1>Новый заявка на предоставление доступа по контракту</h1>
  </div>
</div>

<div class="row mb-5">
  <div class="col-10 offset-1 mt-5">
      <form method="POST">
          {% csrf_token %}
          <fieldset class="form-group">
              {{ form|crispy }}
          </fieldset>
          <div class="form-group">
              <button class="btn btn-outline-info" type="submit">Создать</button>
          </div>
      </form>
  </div>
</div>

{% endblock content %} 